<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="haies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="haies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="haies.Properties.Settings.Con" connectionString="server=mostafa-pc;User Id=root;password=&quot;@2a-3s=4d&quot;;Persist Security Info=True;database=saudi"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <haies.Properties.Settings>
            <setting name="Pump_Max" serializeAs="String">
                <value>999999999</value>
            </setting>
            <setting name="Fash_number" serializeAs="String">
                <value>5000</value>
            </setting>
        </haies.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <haies.Properties.Settings>
            <setting name="ImagesPath" serializeAs="String">
                <value>d:</value>
            </setting>
        </haies.Properties.Settings>
    </applicationSettings>
</configuration>
